{% extends 'base.html.twig' %}
{% block title %}Starshop: Beam up some parts!{% endblock %}
{% block body %}
    <main class="flex flex-col lg:flex-row">
        {% include('main/_shipStatusAside.html.twig') %}
        <div class="px-12 pt-10 w-full">
            <h1 class="text-4xl font-semibold mb-8">
                Ship Repair Queue
            </h1>
            <div class="space-y-5">
                {% for ship in ships %}
                    {% include('main/_shipItem.html.twig') %}
                {% endfor %}
            </div>
            <p class="text-lg mt-5 text-center md:text-left">
                Looking for your next galactic ride?
                <a href="#" class="underline font-semibold">Browse the {{ ships|length * 10 }} starships for sale!</a>
            </p>
        </div>
    </main>
{% endblock %}